:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
}

header {
  padding: 20px;
  background-color: #6003c3;
}

h1 {
  color:#FFFFFF;
  text-align: center;
  font-size: 60px;
}

p {
  color: #6003c3;
}

h1, 
p {
  text-align: center;
}

container {
 display: flex;
 justify-content: center; 
}

.boxes {
 text-align: center;
 color: #6003c3;
 font-size: 35px;
}

#box-1, 
#box-2,
#box-3 {
  width: 40px;
  padding: 20px;
  border: solid 7px #6003c3;
  margin-bottom: 10px;
  box-shadow: 7px 7px 4px lightgray;
}

#box-1 {
background-color: #FCFF00;
}

#box-2 {
  background-color: #57FFC9;
}

#box-3 {
  background-color: #A5FF01;
}

/******START 650 MEDIA QUERY***************/
@media (min-width: 650px) {
 .boxes {
   display: flex;
   justify-content: space-around;
 }

 #box-1,
 #box-2, 
 #box-3 {
   margin: 30px;
   }
}
/********END 650 MEDIA QUERY**************/
/********START 1000 MEDIA QUERY**********/
@media (min-width: 1000px) {
  #box-1,
  #box-2,
  #box-3 {
    width: 60px;
  }
}
/*********END 1000 MEDIA QUERY***********/